<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" style="--background: #4e97d6;">

  
  <ion-card style="margin-top: 100px;">
    <ion-card-header>
      <img src="assets/logo.png" alt="tsf logo">
      <ion-card-title style="text-align: center;">Welcome to <p style="transform: translateY(-50%);">The Sparks Foundation</p></ion-card-title>
      <ion-card-subtitle>
      <div id="container">
        <ion-button (click)="signMeIn()" shape="round" class="custom-button2" color="green" style="text-transform: none; font-size: large;">Sign In</ion-button>
      </div>
    </ion-card-subtitle>
    </ion-card-header>
  </ion-card>
  
</ion-content>